@font-face {
    font-family: 'iconfont';
    /* project id 1609028 */
    src: url('//at.alicdn.com/t/font_1609028_4v3h089tj8v.eot');
    src: url('//at.alicdn.com/t/font_1609028_4v3h089tj8v.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_1609028_4v3h089tj8v.woff2') format('woff2'), url('//at.alicdn.com/t/font_1609028_4v3h089tj8v.woff') format('woff'), url('//at.alicdn.com/t/font_1609028_4v3h089tj8v.ttf') format('truetype'), url('//at.alicdn.com/t/font_1609028_4v3h089tj8v.svg#iconfont') format('svg');
}

.iconfont.icon-xiajiantou::before {
    content: "\e731"
}